nav{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: aqua;
}
.intro h1{
    font-size: 80px;
    margin-top: 400px;
    margin-bottom: 400px;
    align-items: center;
    top: 50px;
    
    
}
.navbar_ul{
    display: flex;

}
li{
    list-style: none;
    font: size 50px;
    margin-left: 15px;
    
}
.intro{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    font-size: larger;
    
}

.intro img{
    height: 25px;
    width: 25px;
    object-fit: contain;
    margin-right: 44%;

}



    

